# Exclude windows config files, shortcuts and temporary files
*.db
*.ini
*.lnk
*.url
~*
$RECYCLE.BIN/

# Exclude test and tmp files
*test*
*tmp*

# Exclude compressed binaries
binaries*.tar*
binaries*.zip

# CPack
# CMakeLists.txt.in for CPak (platform specific file)
CMakeLists.txt.in
# Special file with ISO-8859-15 enconding for Windows NSIS packager
LICENSE1

# Exclude build folder/s
[Bb]uild/*
[Oo]ut/*

# Ignore vim files
*~
*.swp

# Backups (I mean... we have git.)
Backup*/

# Configure ignore and track for Visual Studio and Visual Studio Code
.vs/*
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
